<!DOCTYPE html>
<html>
<title>Pokemono</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/proxy/KHb_-zcldUTQ-u6k5UpXeN0uMwj7XT32Ok2KZuaRwCj_jqNbloiqdJniu8hUV5NPkjooqep2QKT4vuLAU4gnNoyytRTt33wB">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><font color="#ff0000"><b>Pokemono</b></a></font>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      <a href="http://guitar06.pythonanywhere.com/" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Popularpokemon</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Greninja </div>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/905d008d-e774-4f04-8d1b-6aac3ef243c4/dam41b1-3c37f47f-d179-4a26-b84b-f69f031c31b6.png/v1/fill/w_1020,h_784,strp/greninja_by_porygon2z_dam41b1-pre.png" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Lucario</div>
        <img src="https://vignette.wikia.nocookie.net/nintendo/images/d/d0/Lucario.png/revision/latest?cb=20120709160647&path-prefix=en" alt="House" style="width:57%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">mimikyu</div>
        <img src="https://vignette3.wikia.nocookie.net/pokemon/images/8/8e/Mimikyu_anime.png/revision/latest?cb=20161014184237" alt="House" style="width:60%" >
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Lugia</div>
        <img src="https://boundingintocomics.com/wp-content/uploads/2020/02/2020.02.27-04.19-boundingintocomics-5e57ec031c712.png" alt="House" style="width:100%">
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Gardevoir</div>
        <img src="https://boundingintocomics.com/wp-content/uploads/2020/02/2020.02.27-04.25-boundingintocomics-5e57ed7a5108a.png" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"> Rayquaza</div>
        <img src="https://boundingintocomics.com/wp-content/uploads/2020/02/2020.02.27-04.25-boundingintocomics-5e57ed8bbe78c.png" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Charizard</div>
        <img src="https://boundingintocomics.com/wp-content/uploads/2020/02/2020.02.27-04.27-boundingintocomics-5e57edf95afe3.png" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding"> Blaziken</div>
        <img src="https://boundingintocomics.com/wp-content/uploads/2020/02/2020.02.27-03.54-boundingintocomics-5e57e6240cc2e.png" alt="House" style="width:99%">
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="คำเเนะนำ">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>
โปเกมอน (ญี่ปุ่น: ポケモン โรมาจิ: Pokémon) หรือในชื่อเต็มว่าพ็อกเก็ตมอนสเตอร์ (ญี่ปุ่น: ポケットモンスターโรมาจิ: Poketto Monsutāทับศัพท์จาก Pocket Monsters
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c82a6a41-2372-4ec8-96fa-f9f9d7289801/dac01kv-359f69f5-6269-4740-b307-41891ab7a281.jpg/v1/fill/w_1192,h_670,q_70,strp/wallpaper_evolution_charmander_by_nidemigod_dac01kv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03NjgiLCJwYXRoIjoiXC9mXC9jODJhNmE0MS0yMzcyLTRlYzgtOTZmYS1mOWY5ZDcyODk4MDFcL2RhYzAxa3YtMzU5ZjY5ZjUtNjI2OS00NzQwLWIzMDctNDE4OTFhYjdhMjgxLmpwZyIsIndpZHRoIjoiPD0xMzY2In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.IYeQYcT9MMBZBlSZwSBy6nWNhweYVkmAWoZduZYsAkw " alt="evolution" style="width:100%">
      <h3>________________________________</h3>
       <a href="https://www.pokemon.com/us/pokemon-video-games/"><button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">Game&Movie</button></a>

    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/295fb76c-7179-4c70-a508-a1cce61a876f/damxfcm-d1ea7ee6-f56c-4a90-909d-6fa37c1b76d8.png/v1/fill/w_1192,h_670,q_70,strp/all_legendary_pokemon_todos_lospokemon_legendarios_by_davidbksandrade_damxfcm-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMDgwIiwicGF0aCI6IlwvZlwvMjk1ZmI3NmMtNzE3OS00YzcwLWE1MDgtYTFjY2U2MWE4NzZmXC9kYW14ZmNtLWQxZWE3ZWU2LWY1NmMtNGE5MC05MDlkLTZmYTM3YzFiNzZkOC5wbmciLCJ3aWR0aCI6Ijw9MTkyMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.kPLoD68papjeFHS0u2CsYR1oZ0igzCCN9R6HqYPBd_I" alt="legendary pokemon" style="width:100%">
      <h3>________________________________</h3>
      <a href="/legendary"><button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">legendary pokemon</button></a>

    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="https://i.ytimg.com/vi/JihiEh2vT8A/maxresdefault.jpg" alt="pokemon starter" style="width:100%">
      <h3>________________________________</h3>
      <a href="/starter"><button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">starter pokemon</button></a>

    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://www.pngitem.com/pimgs/m/222-2227153_diy-pokedex-phone-case-hd-png-download.png" alt="pokedex" style="width:100%">
      <h3>________________________________</h3>
      <a href="https://www.pokemon.com/us/pokedex/"><button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">pokedex</button></a>

    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>


     <a href="https://www.facebook.com/kittipol.ltk"<i class="fa fa-facebook"style="font-size:80px;color:blue"></i></a>
  </div>

<!-- End page content contack -->
</div>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.facebook.com/kittipol.ltk" title="GuitarNaja" target="_blank" class="w3-hover-text-green">GuitarNaja</a></p>
</footer>

</body>
</html>
