<!DOCTYPE html>
<html>
<title>Pokemono</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/proxy/KHb_-zcldUTQ-u6k5UpXeN0uMwj7XT32Ok2KZuaRwCj_jqNbloiqdJniu8hUV5NPkjooqep2QKT4vuLAU4gnNoyytRTt33wB">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>

<<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
     <center><p><b>Legendary pokemon</b></p></center>
    <a href="#home" class="w3-bar-item w3-button"><font color="#ff0000"><b>Pokemono</b></a></font>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/index#contact" class="w3-bar-item w3-button">Contact</a>
      <a href="/login" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>
</div>




  </div>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="https://pokemontrainer.in.th/images/stories/pokemon/145.png">
      <h3>Thunder</h3>
      <p>ธันเดอร์ โปเกมอนบิน-ไฟฟ้าสีเหลืองขนาดใหญ่ที่มีความสามารถในควบคุมและปล่อยกระแสไฟฟ้าได้ ธันเดอร์มีขธันเดอร์ โปเกมอนบิน-ไฟฟ้าสีเหลืองขนาดใหญ่ที่มีความสามารถในควบคุมและปล่อยกระแสไฟฟ้าได้ ธันเดอร์มีขนสีเหลืองรูปร่างคล้ายหนามแหลมพร้อมกับจงอยปากสีส้มยาวและขาสองข้างที่สีเดียวกับปาก</p>
    </div>
    <div class="w3-quarter">
      <img src="https://pokemontrainer.in.th/images/stories/pokemon/144.png">
      <h3>Freezerk</h3>
      <p>ป็นโปเกม่อนในตำนานของเขตคันโตประเภท น้ำแข็ง/บิน มีลักษณะเป้นนกขนสีน้ำเงิน มีปีกน้ำแข็งทั้งสองแข็ง เวลากระพือทำให้อากาศรอบตัวหนาวเย็น จนเกิดเป็นหิมะตก</p>
    </div>
    <div class="w3-quarter">
      <img src="https://pokemontrainer.in.th/images/stories/pokemon/146.png">
      <h3>Fier</h3>
      <p>
ไฟเยอร์เป็นโปเกมอนบิน-ไฟสีส้มทอง มีจงอยปากสีส้มยาว และลูกไฟตามบริเวณต่างๆ ของร่างกาย เช่นปีก หาง และบนหัวที่คล้ายมงกุฎ ไฟเยอร์มีความสามารถในการควบคุมไฟ ซึ่งเพียงแค่ขยับปีกก็สามารถสร้างลูกไฟขนาดยักษ์ได้ หากไฟเยอร์ได้อาบลาวาภูเขาไฟก็สามารถฟื้นฟูตัวเองได้ มีผู้กล่าวกันว่าไฟเยอร์เป็นผู้ที่ทำให้อากาศอบอุ่นในต้นฤดูใบไม้ผลิ

</p>

    </div>
    <div class="w3-quarter">
      <img src="https://www.serebii.net/swordshield/pokemon/151.png">
      <h3>Mew</h3>
      <p>
โปเกมอนพลังจิต สุดยอดโปเกมอนหายากตัวหนึ่งเลยก็ว่าได้มีนิสัยรักสนุก ขี้เล่น ว่ากันว่าได้สูญหายไปแล้วแต่จริงๆแล้วยังคงมีหลงเหลือแต่พบได้ยากละในเกมมิวเป็นโปเกมอนที่ทุกคนอยากได้เพราะมันเล่นรู้ท่า TM HM ได้ทุกท่าอีกทั้งยังเป็นต้นแบบของ มิวทูอีกด้วย ในมูวี่มิวมีความเกี่ยวข้องกับต้นไม้โลกว่ากันว่ามิวก็เป็นเหมือนกับส่วนหนึ่งต้นไม้โลก</p>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="https://pokemontrainer.in.th/images/stories/pokemongen2/250_00.png">
      <h3>Ho-ho</h3>
      <p>โอโฮ เป็นโปเกมอนในตำนานตัวแรกที่ซาโตชิเห็น โอโฮเป็นโปเกมอนตำนานประจำเมือง Ecruteak City ซึ่งอศัยอยู่บนยอดสุดของหอคอยว่ากันว่าแต่ก่อนโอโฮอยุ่ร่วมกันกับมนุษย์แต่หลังเกิดเหตุการณ์ไฟไหม้หอคอย ก็หายไปเลย ว่ากันว่าไฟของโอโฮเป็น ไฟแห่งชีวิต</p>
    </div>
    <div class="w3-quarter">
      <img src="https://images.gameinfo.io/pokemon/256/150-00.png">
      <h3>Mewtwo</h3>
      <p> two
เป็นโปเกมอนที่เกิดจากการทดลองทางวิทยาศาสตร์โดยการโคลนจากเชื้อของมิว
แล้วนำมาตัดต่อพันธุ์กรรมให้มีความสามารถมากกว่าในอนิเม มิวทู
</p>

    </div>
    <div class="w3-quarter">
      <img src="https://images.gameinfo.io/pokemon/256/249-00.webp">
      <h3>Lugia </h3>
      <p>ถูกเรียกว่า จ้าวแห่งสมุทร ในเกมลูเกียในอดีตอาศัยอยู่ในหอคอย Ecruteak City ซึ่งเป็นหอคอยที่มีคู่กับโอโฮ แต่อยู่ๆก็เกิดไฟไหม้ทำให้ต้องย้ายไปสร้างบ้านใหม่ที่
หมู่เกาะน้ำวน Whirl Islands </p>
    </div>
    <div class="w3-quarter">
      <img src="https://images.gameinfo.io/pokemon/256/382-00.webp">
      <h3>Kyogre</h3>
      <p>เป็นคู่ปรับ Groudon ที่ทำการต่อสู้มาเป็นเวลานานแล้วในอดีต โดยกราด้อนต้องการเพิ่มอาณาเฃตพื้นดิน แต่ไคโอก้าตรงข้ามคือต้องการเพิ่มพื้นที่ที่เป็นน้ำหรือทะแลนั่นเอง Kyogre มีอำนาจเรียกพายุฝนตก</p>
    </div>

 {% for a in Destinations %}
     <div class="w3-quarter">
            <img src="{{ a.img }}">
            <span>{{ a.name }}</span>
            <p>{{a.desc}}</p>
            </div>
        {% endfor %}


  </div>


<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.facebook.com/kittipol.ltk" title="GuitarNaja" target="_blank" class="w3-hover-text-green">GuitarNaja</a></p>
</footer>




</body>
</html>
