<!DOCTYPE html>
<html>
<title>pokemono</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/png" href="https://lh3.googleusercontent.com/proxy/KHb_-zcldUTQ-u6k5UpXeN0uMwj7XT32Ok2KZuaRwCj_jqNbloiqdJniu8hUV5NPkjooqep2QKT4vuLAU4gnNoyytRTt33wB">
<body id="myPage">


<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
   <font color="#0080ff"><b>PokemonStarter</b></font>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/index" class="w3-bar-item w3-button">Hompage</a>
      <a href="/index#contact" class="w3-bar-item w3-button">Contact</a>
      <a href="/login" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>
</div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>




<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Oh snap! We just showed you a modal..</h4>
      <h5>Because we can <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Cool huh? Ok, enough teasing around..</p>
      <p>Go to our <a class="w3-text-teal" href="/w3css/default.asp">starter</a> pokemon</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Modal footer</p>
    </footer>
  </div>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="g1">
<h2>Generation1</h2>
<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="https://i.pinimg.com/originals/46/7e/db/467edb818bc862ef7f54dece5df4d762.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Bulbasaur</h3>
  <p>Grass/Poison</p>
</div>
<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/7/73/004Charmander.png/600px-004Charmander.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Charmander</h3>
  <p>Fire/Dragon/flying</p>
</div>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/3/39/007Squirtle.png/600px-007Squirtle.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Squirtle</h3>
  <p>Water</p>
</div>



<div class="w3-container w3-padding-64 w3-center" id="g1">
<h2>Generation2</h2>
<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/b/bf/152Chikorita.png/600px-152Chikorita.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Chikorita</h3>
  <p>Grass</p>
</div>
<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/9/9b/155Cyndaquil.png/600px-155Cyndaquil.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Cyndaquil</h3>
  <p>Fire/Fighting</p>
</div>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/d/df/158Totodile.png/600px-158Totodile.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Totodile</h3>
  <p>Water</p>
</div>



<div class="w3-container w3-padding-64 w3-center" id="g1">
<h2>Generation3</h2>
<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/archive/2/2c/20090719075919%21252Treecko.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Treecko</h3>
  <p>Grass/Dragon</p>
</div>
<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/9/91/255Torchic.png/600px-255Torchic.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Torchic</h3>
  <p>Fire/Fighting</p>
</div>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/6/60/258Mudkip.png/600px-258Mudkip.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Mudkip</h3>
  <p>Water/ground</p>
</div>



<div class="w3-container w3-padding-64 w3-center" id="g1">
<h2>Generation4</h2>
<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/5/5c/387Turtwig.png/600px-387Turtwig.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Turtwig</h3>
  <p>Grass/Ground</p>
</div>
<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/7/76/390Chimchar.png/600px-390Chimchar.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Chimchar</h3>
  <p>Fire/Fighting</p>
</div>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/b/b1/393Piplup.png/600px-393Piplup.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Piplup</h3>
  <p>Water/Steel</p>
</div>



<div class="w3-container w3-padding-64 w3-center" id="g1">
<h2>Generation5</h2>
<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/7/75/495Snivy.png/600px-495Snivy.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Snivy</h3>
  <p>Grass</p>
</div>
<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/5/5b/498Tepig.png/600px-498Tepig.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Tepig</h3>
  <p>Fire/Fighting</p>
</div>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/3/3b/501Oshawott.png/600px-501Oshawott.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Oshawott</h3>
  <p>Water</p>
</div>



<div class="w3-container w3-padding-64 w3-center" id="g1">
<h2>Generation6</h2>
<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/c/ca/650Chespin.png/600px-650Chespin.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Chespin</h3>
  <p>Grass/Fighting</p>
</div>
<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/3/3d/653Fennekin.png/600px-653Fennekin.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Fennekin</h3>
  <p>Fire/Dragon/Psychic</p>
</div>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/1/18/656Froakie.png/600px-656Froakie.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Froakie</h3>
  <p>Water/Dark</p>
</div>




<div class="w3-container w3-padding-64 w3-center" id="g1">
<h2>Generation7</h2>
<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/7/74/722Rowlet.png/600px-722Rowlet.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Rowlet</h3>
  <p>Grass/Flying</p>
</div>
<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/0/0e/725Litten.png/600px-725Litten.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Litten</h3>
  <p>Fire/Dark</p>
</div>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/d/d8/728Popplio.png/600px-728Popplio.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Popplio</h3>
  <p>Water/Fairy</p>
</div>


<div class="w3-container w3-padding-64 w3-center" id="g1">
<h2>Generation8</h2>
<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/9/93/810Grookey.png/600px-810Grookey.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Grookey</h3>
  <p>Grass</p>
</div>
<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/0/06/813Scorbunny.png/600px-813Scorbunny.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Scorbunny</h3>
  <p>Fire</p>
</div>

<div class="w3-quarter">
  <img src="https://cdn.bulbagarden.net/upload/thumb/9/9b/816Sobble.png/600px-816Sobble.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Sobble</h3>
  <p>Water</p>
</div>



</div>
</div>






</script>

</body>
</html>
